* {
	margin: 0px;
	padding: 0px;
	outline: 0px;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}
li {
	list-style: none;
}
[data-role="header"] {
	min-height: 40px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}
[data-role="header"] a {
	border-radius: 100%;
	background-color: transparent !important;
	border-color: #A16F00 !important;
}
.menuTrigger {
	float: right;
	margin: 11px;
	cursor: pointer;
    padding: .5em;
}
#menu {
	background: #e79f00;
}
#menu ul {
	padding-top: 10px;
}
#menu a {
	display:block;
	padding: 15px 20px;
	text-decoration: none;
	color: #046d4c;
	text-shadow: none;
	background: #fff;
	margin-bottom: 2px;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
}
#menu a div {
	color: #000;
    font-weight: normal;
	font-size: 0.75em;
}
#lastMenuItem {
	position: absolute;
	width: 100%;
	bottom: 10px;
}

#main {
	height: 100%;
	padding: 0;
	overflow: hidden;
}
#main #tableWrap {
	height: 100%;
	padding: 65px 0 0 0;
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#counter {
	font-size: 100px;
	color: #046d4c;
	text-align: center;
	
	width: 175px;
	height: 200px;
	cursor: pointer;
	padding-top: 17px;
	margin: auto auto 0px auto;
	background: url(../img/button.png) no-repeat;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#undo {
	position: fixed;
    right: 2em;
    bottom: .5em;
    cursor: pointer;
    font-weight: bold;
    font-size: .8em;
	display: none;
    padding-top: 2em;
}
#undo span {
	color: #053f2d;
}
#toofast_dialog .ui-content a {
	width: 4em;
}
.author {
	color: #053f2d;
	font-weight: bold;
}
#totalPrice {
	text-align: center;
	
	margin-top: -46px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
	
    height: 18px;
    color: #333;
    background: #fff;
    border-radius: 50px;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: bold;
	
    box-shadow: 0px 0px 5px #aaa;
}	
#totalPrice span {
	color: #046d4c;
    text-shadow: none;
}

#instructions {
	width: 300px;
	height: 102px;
	margin: 0 auto 0 auto;
	background: url(../img/quote.png) no-repeat;
	color: white;
	text-align: center;
}
#notification {
    padding: 10px 24px;
}
#price2drink {
	margin: 45px auto auto auto;
	height: 20px;
    font-weight: bold;
    font-size: 14px;
	text-align: center;
    padding-left: 25px;
	cursor: pointer;
}
#price2drink span {
	color: #053f2d;
}
#price2drink .edit {
	color: #C57600;
	padding: 0;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M1%2C10l-1%2C4l4-1l7-7L8%2C3L1%2C10z%20M11%2C0L9%2C2l3%2C3l2-2L11%2C0z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");    
	height: 12px;
    width: 12px;
    background-size: 100%;
	display: inline-block;
    margin-left: 5px;
    opacity: 0.8;
}
#price2drink_dialog .ui-input-text {
    width: auto;
    display: inline-block;
}
#price2drink_input {
	width: 5em;
    display: inline;
    text-align: center;
    font-size: 2em;
}
#historyList, #settingsList {
	padding-top: 36px;
}
#historyList li, #settingsList li {
	padding: 15px;
	background: white;
	margin-bottom: 2px;
}
#historyList li .title, #settingsList li .title {
	color: #046d4c;
	font-weight: bold;
    margin-bottom: 5px;
}
#history .ui-content, #settings .ui-content {
	padding-left: 0;
	padding-right: 0;
}

[data-role="dialog"] .ui-btn-icon-notext.ui-btn-left {
	left: auto;
	right: 10px;
}
[data-role="dialog"] .ui-content {
	background: #fff;
}
[data-role="dialog"].ui-page-active {
	display: flex;
}
#vibrationsWrap .ui-flipswitch, #toofast_warningWrap .ui-flipswitch {
	float: right;
	background: #ccc;
}
#vibrationsWrap .ui-flipswitch-active, #toofast_warningWrap .ui-flipswitch-active {
	background: #046d4c;
}

#history .ui-content, #settings .ui-content {
	padding-bottom: 0;
}
#externalLink {
	background: #046d4c;
	padding: 10px;
	display: block;
	width: 130px;
	color: white;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	margin: 10px auto;
	border-radius: 5px;
}

.priceSuggestions {
	display: inline-block;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	text-shadow: none;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
	background: #e79f00;
	text-shadow: none;
	border: none;
}
.ui-header .ui-title, .ui-footer .ui-title {
	color: #fff;
    font-weight: bold;
    text-shadow: 0 0 1px #000;
    font-size: 1.2em;
	margin: 0;
}
.ui-header .ui-btn, .ui-footer .ui-btn {
    margin-top: .4em;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	background: url(../img/bg.png) repeat-x #fdc200;
    background-size: 100% 100%;
}
.ui-dialog-contain {
	background: #fdc200;
	margin: auto;
}
.ui-panel-inner, .ui-panel-inner .ui-content, .ui-panel-inner ul {
	padding: 0;
}
.ui-flipswitch-off {
	color: white;
}
.ui-icon-check:after, html .ui-btn.ui-checkbox-on.ui-checkbox-on:after {
	background-color: #046d4c;
}
.ui-btn-inline {
	margin-right: 0;
}
#main .ui-bar-inherit {
	background: none;
}